[Unit]
Description=PHSA Service Operations Center uWSGI app
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /opt/phsa/p_soc_auto/configs/uwsgi/uwsgi.ini
User=phsa
Group=phsa
Restart=on-failure
KillSignal=SIGQUIT
RuntimeDirectory=uwsgi
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
