[Unit]
Description=PHSA Automation Celery Flower Service
After=network.target

[Service]
Type=forking
User=phsa
Group=phsa
WorkingDirectory=/opt/phsa/p_soc_auto
ExecStart=/bin/sh -c '/opt/phsa/.envs/phsa_venv/bin/celery flower \
    -A p_soc_auto --inspect --persistent \
    --log-file-prefix=/var/log/phsa/celery/celery-flower.log \
    --logging=info &'
ExecStop=/bin/kill -q TERM $MAINPID

[Install]
WantedBy=multi-user.target
